In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Data.csv')

In [3]:
x = df.iloc[:,:-1]
#[all(:),all(:)except for last one(-1)]
print(x)

     Country    Age  Salary
0    Malaysia  34.0  4500.0
1       China  22.0  5200.0
2   Hong Kong  31.0  7400.0
3       China  29.0     NaN
4   Hong Kong  55.0  9800.0
5    Malaysia  24.0  3000.0
6       China  28.0  4000.0
7    Malaysia   NaN  6000.0
8   Hong Kong  51.0  6500.0
9    Malaysia  44.0  7800.0
10  Singapore  21.0  2000.0
11  Hong Kong  25.0  6000.0
12   Malaysia  33.0  4500.0
13   Malaysia  42.0  6500.0
14      China  33.0  2200.0

In [15]:
y = df.iloc[:,3]
#[:,3(3 is the 4th column)]
y

0     Yes
1     Yes
2     Yes
3      No
4     Yes
5     NaN
6      No
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13    Yes
14    Yes
Name: Purchased, dtype: object

In [38]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')
imputed = imputer.fit_transform(df[['Age','Salary']])
imputed = np.round(imputed,2)
df[['Age','Salary']] = imputed

InvalidParameterError: The 'strategy' parameter of SimpleImputer must be a str among {'median', 'most_frequent', 'constant', 'mean'}. Got 0 instead.

In [19]:
df.iloc[:,0]

0      Malaysia
1         China
2     Hong Kong
3         China
4     Hong Kong
5      Malaysia
6         China
7      Malaysia
8     Hong Kong
9      Malaysia
10    Singapore
11    Hong Kong
12     Malaysia
13     Malaysia
14        China
Name: Country , dtype: object

In [6]:
imputer = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
col=['Purchased']
df[col] = imputer.fit_transform(df[col])
df

     Country    Age  Salary Purchased
0    Malaysia  0.38    0.32       Yes
1       China  0.03    0.41       Yes
2   Hong Kong  0.29    0.69       Yes
3       China  0.24    0.43        No
4   Hong Kong  1.00    1.00       Yes
5    Malaysia  0.09    0.13       Yes
6       China  0.21    0.26        No
7    Malaysia  0.37    0.51        No
8   Hong Kong  0.88    0.58       Yes
9    Malaysia  0.68    0.74       Yes
10  Singapore  0.00    0.00       Yes
11  Hong Kong  0.12    0.51       Yes
12   Malaysia  0.35    0.32       Yes
13   Malaysia  0.62    0.58       Yes
14      China  0.35    0.03       Yes

In [10]:
from sklearn.preprocessing import LabelEncoder 
labelencode = LabelEncoder()
print(df)
df['Purchased'] = labelencode.fit_transform(df['Purchased'])
print(labelencode.classes_)
df

     Country    Age  Salary  Purchased
0    Malaysia  0.38    0.32          1
1       China  0.03    0.41          1
2   Hong Kong  0.29    0.69          1
3       China  0.24    0.43          0
4   Hong Kong  1.00    1.00          1
5    Malaysia  0.09    0.13          1
6       China  0.21    0.26          0
7    Malaysia  0.37    0.51          0
8   Hong Kong  0.88    0.58          1
9    Malaysia  0.68    0.74          1
10  Singapore  0.00    0.00          1
11  Hong Kong  0.12    0.51          1
12   Malaysia  0.35    0.32          1
13   Malaysia  0.62    0.58          1
14      China  0.35    0.03          1
[0 1]

     Country    Age  Salary  Purchased
0    Malaysia  0.38    0.32          1
1       China  0.03    0.41          1
2   Hong Kong  0.29    0.69          1
3       China  0.24    0.43          0
4   Hong Kong  1.00    1.00          1
5    Malaysia  0.09    0.13          1
6       China  0.21    0.26          0
7    Malaysia  0.37    0.51          0
8   Hong Kong  0.88    0.58          1
9    Malaysia  0.68    0.74          1
10  Singapore  0.00    0.00          1
11  Hong Kong  0.12    0.51          1
12   Malaysia  0.35    0.32          1
13   Malaysia  0.62    0.58          1
14      China  0.35    0.03          1

In [2]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
df[['Age','Salary']] = sc.fit_transform(df[['Age','Salary']])
df

     Country        Age    Salary Purchased
0    Malaysia  0.382353  0.320513       Yes
1       China  0.029412  0.410256       Yes
2   Hong Kong  0.294118  0.692308       Yes
3       China  0.235294       NaN        No
4   Hong Kong  1.000000  1.000000       Yes
5    Malaysia  0.088235  0.128205       NaN
6       China  0.205882  0.256410        No
7    Malaysia       NaN  0.512821        No
8   Hong Kong  0.882353  0.576923       Yes
9    Malaysia  0.676471  0.743590       Yes
10  Singapore  0.000000  0.000000       Yes
11  Hong Kong  0.117647  0.512821       Yes
12   Malaysia  0.352941  0.320513       Yes
13   Malaysia  0.617647  0.576923       Yes
14      China  0.352941  0.025641       Yes

In [22]:
print(df["Country "])

0      Malaysia
1         China
2     Hong Kong
3         China
4     Hong Kong
5      Malaysia
6         China
7      Malaysia
8     Hong Kong
9      Malaysia
10    Singapore
11    Hong Kong
12     Malaysia
13     Malaysia
14        China
Name: Country , dtype: object

In [37]:
from sklearn.preprocessing import LabelEncoder
labelencode = LabelEncoder()
df['Country '] = labelencode.fit_transform(df['Country '])
print(df['Country '])
print(labelencode.classes_)
print(labelencode.inverse_transform([0,1,2,3])
print(df['Country '])

TypeError: LabelEncoder.fit_transform() takes 2 positional arguments but 3 were given

In [10]:
df = pd.DataFrame(["Gender","male","female",np.NAN])
print(df)
df = df.dropna()
print(df)

        0
0  Gender
1    male
2  female
3     NaN
        0
0  Gender
1    male
2  female